{% load static %}

<table id="sets" class="sortable">
  <thead>
    <tr>
      <th class="sort">
        <img src="{% static 'img/def.png' %}" title="Defence"/>
        <i id="def" data-key="def" class="fa fa-sort"/>
      </th>
      <th class="sort">
        <img src="{% static 'img/fire.png' %}" title="Fire resistance"/>
        <i id="fire" data-key="res.Fire" class="fa fa-sort"/>
      </th>
      <th class="sort">
        <img src="{% static 'img/thunder.png' %}" title="Thunder resistance"/>
        <i id="thunder" data-key="res.Thunder" class="fa fa-sort"/>
      </th>
      <th class="sort">
        <img src="{% static 'img/water.png' %}" title="Water resistance"/>
        <i id="water" data-key="res.Water" class="fa fa-sort"/>
      </th>
      <th class="sort">
        <img src="{% static 'img/ice.png' %}" title="Ice resistance"/>
        <i id="ice" data-key="res.Ice" class="fa fa-sort"/>
      </th>
      <th class="sort">
        <img src="{% static 'img/dragon.png' %}" title="Dragon resistance"/>
        <i id="dragon" data-key="res.Dragon" class="fa fa-sort"/>
      </th>
      <th>
        <img src="{% static 'img/head.png' %}" title="Head"/>
      </th>
      <th>
        <img src="{% static 'img/chest.png' %}" title="Chest"/>
      </th>
      <th>
        <img src="{% static 'img/arms.png' %}" title="Arms"/>
      </th>
      <th>
        <img src="{% static 'img/waist.png' %}" title="Waist"/>
      </th>
      <th>
        <img src="{% static 'img/legs.png' %}" title="Legs"/>
      </th>
      <th>Jewels</th>
      <th>Slots</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
