body
{
}

.skill-slot.empty
{
  color:grey;
}

.skill-slot:not(.empty)
{
  cursor:pointer;
}

div#skills
{
  max-height:600px;
  overflow-y:auto;
}

div#skills>p
{
  cursor:pointer;
}

hr
{
  margin:0px;
}

p
{
  margin:4px 0px;
}

fieldset
{
  margin:6px 0px 4px 0px;
  padding:4px;
}

.notice.error
{
  color:brown;
}
