body
{
}

.skill-slot.empty
{
  color:grey;
}

.skill-slot:not(.empty)
{
  cursor:pointer;
}

div#skills
{
  height:90vh;
  overflow-y:scroll;
}

div#skills>p
{
  cursor:pointer;
}

hr
{
  margin:0px;
}


.notice.error
{
  color:brown;
}
