{% load static %}

<html>
  <head>
    <title>BASS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="" />

    <link rel="shotcut icon" href="{% static 'img/head.png' %}" type="image/png">

    {% comment %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% endcomment %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/options.css' %}">
    {% block css %}{% endblock %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/swipe.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/old/game.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/old/workerpool.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/old/tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/old/bass.js' %}"></script>

    {% block javascript %}{% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
