{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- black star &#9733; -->
  <div id="sidebar">
    <div id="noticebox">
      <div class="notice">
        This tool is WIP, there is no guarantee that the results it produces are correct, complete, or possible. Recommend sets are tested by hand or checked with another tool (particularly if you can't afford to waste materials).
        <a class="fa fa-remove" onclick="this.parentElement.parentElement.removeChild(this.parentElement); return false;"></a>
      </div>
      <div class="notice">
        Known issues:
        <ul>
          <li>Torso Inc does not work for jewels</li>
          <li>Jeweling is not fully solved, better sets may be possible</li>
        </ul>
        <a class="fa fa-remove" onclick="this.parentElement.parentElement.removeChild(this.parentElement); return false;"></a>
      </div>
    </div>

    <div class="collapsable">
      <p>Hunter</p>
      <i class="fa fa-chevron-down" onclick="$($(this).siblings('div')).toggleClass('hide'); $(this).toggleClass('fa-chevron-down'); $(this).toggleClass('fa-chevron-up');" style="float:right;"></i>
      <div>
        <label for="elder">Village</label>
        <select id="elder" disabled title="Not implemented">
          <option value="9">9&#9733; (Nekoht)</option>
          <option value="8">8&#9733; (Nekoht)</option>
          <option value="7">7&#9733; (Nekoht)</option>
          <option value="6">6&#9733;</option>
          <option value="5">5&#9733;</option>
          <option value="4">4&#9733;</option>
          <option value="3">3&#9733;</option>
          <option value="2">2&#9733;</option>
          <option value="1">1&#9733;</option>
        </select>
        <br/>
        <label for ="hr">Hunter Rank</label>
        <select id="hr" disabled title="Not implemented">
          <option value="9">HR9 (GR)</option>
          <option value="8">HR8 (GR)</option>
          <option value="7">HR7 (GR)</option>
          <option value="6">HR6 (HR)</option>
          <option value="5">HR5 (HR)</option>
          <option value="4">HR4 (HR)</option>
          <option value="3">HR3 (LR)</option>
          <option value="2">HR2 (LR)</option>
          <option value="1">HR1 (LR)</option>
        </select>
        <br/>
        <label for="gender">Gender</label>
        <select id="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
    <div class="collapsable">
      <p>Weapon</p>
      <i class="fa fa-chevron-down" onclick="$($(this).siblings('div')).toggleClass('hide'); $(this).toggleClass('fa-chevron-down'); $(this).toggleClass('fa-chevron-up');" style="float:right;"></i>
      <div>
        <label for="class">Class</label>
        <select id="class">
          <option value="Blademaster">Blademaster</option>
          <option value="Gunner">Gunner</option>
        </select>
        <br/>
        <label for="slots">Slots</label>
        <select id="slots">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <div class="collapsable">
      <p>Skills</p>
      <i class="fa fa-chevron-down" onclick="$($(this).siblings('div')).toggleClass('hide'); $(this).toggleClass('fa-chevron-down'); $(this).toggleClass('fa-chevron-up');" style="float:right;"></i>
      <div>
        <label for="filter">Category</label>
        <select id="filter">
          <option value="all">All</option>
          <option value="Offensive">Offensive</option>
          <option value="Defensive">Defensive</option>
          <option value="Resistance">Resistance</option>
          <option value="Farming">Farming</option>
          <option value="Treasure Hunting">Treasure Hunting</option>
          <option value="Blademaster">Blademaster</option>
          <option value="Bowgun">Bowgun</option>
          <option value="Bow">Bow</option>
          <option value="Other">Other</option>
        </select><br/>
        <fieldset>
          <legend>Filter</legend>
          <input type="checkbox" id="class-filter" checked/>
          <label for="class-filter">Weapon class</label><br/>
          <input type="checkbox" id="bad-filter" checked/>
          <label for="bad-filter">Bad skills</label>
        </fieldset>
        <fieldset>
          <legend title="Also sorts the skill selection">Sort by</legend>
          <input type="radio" id="skill-sort-jewel" name="skill-sort" value="jewel" checked/>
          <label for="skill-sort-jewel">Jewel name</label><br/>
          <input type="radio" id="skill-sort-skill" name="skill-sort" value="skill"/>
          <label for="skill-sort-skill">Skill name</label>
        </fieldset>
        <div id="skill-overview">
        </div>
      </div>
    </div>
    <div class="collapsable">
      <p>Options</p>
      <i class="fa fa-chevron-down" onclick="$($(this).siblings('div')).toggleClass('hide'); $(this).toggleClass('fa-chevron-down'); $(this).toggleClass('fa-chevron-up');" style="float:right;"></i>
      <div>
        <fieldset>
          <legend>Game</legend>
          <select id="game">
            <option value="mhf">MHF</option>
            <option value="mhfu">MHFU (incomplete)</option>
            <option value="mhp3rd" disabled>MHP3rd (give me data)</option>
          </select>
          <br/>
          <button id="switch">Switch game</button>
        </fieldset>
        <fieldset>
          <legend>Defence display</legend>
          <input type="radio" id="def-style-raw" name="def-style" value="raw" title="Raw display shows defence displayed in game, and the resistances displayed in game" checked/>
          <label for="def-style-raw">Raw</label><br/>
          <input type="radio" id="def-style-eff" name="def-style" value="eff"/>
          <label for="def-style-eff">Effective</label>
        </fieldset>
      </div>
    </div>
  </div>
  <div id="close" onclick="$(this).children('p').toggleClass('fa-chevron-left'); $(this).children('p').toggleClass('fa-chevron-right'); $('#sidebar').toggleClass('hide'); $(this).toggleClass('closed'); $('div#pane').toggleClass('closed');">
    <p class="fa fa-chevron-left"></p>
  </div>
  <div id="pane">
    <table>
      <tbody>
        <tr>
          <td>
            <select class="skill-select" id="skill-select-0">
            </select>
          </td>
          <td>
            <select class="skill-select" id="skill-select-1">
            </select>
          </td>
          <td>
            <select class="skill-select" id="skill-select-2">
            </select>
          </td>
          <td>
            <select class="skill-select" id="skill-select-3">
            </select>
          </td>
          <td>
            <select class="skill-select" id="skill-select-4">
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <select class="skill-filter" id="skill-filter-0">
              <option value="all">All</option>
              <option value="Offensive">Offensive</option>
              <option value="Defensive">Defensive</option>
              <option value="Resistance">Resistance</option>
              <option value="Farming">Farming</option>
              <option value="Treasure Hunting">Treasure Hunting</option>
              <option value="Class">Class</option>
              <option value="Other">Other</option>
            </select>
          </td>
          <td>
            <select class="skill-filter" id="skill-filter-1">
              <option value="all">All</option>
              <option value="Offensive">Offensive</option>
              <option value="Defensive">Defensive</option>
              <option value="Resistance">Resistance</option>
              <option value="Farming">Farming</option>
              <option value="Treasure Hunting">Treasure Hunting</option>
              <option value="Class">Class</option>
              <option value="Other">Other</option>
            </select>
          </td>
          <td>
            <select class="skill-filter" id="skill-filter-2">
              <option value="all">All</option>
              <option value="Offensive">Offensive</option>
              <option value="Defensive">Defensive</option>
              <option value="Resistance">Resistance</option>
              <option value="Farming">Farming</option>
              <option value="Treasure Hunting">Treasure Hunting</option>
              <option value="Class">Class</option>
              <option value="Other">Other</option>
            </select>
          </td>
          <td>
            <select class="skill-filter" id="skill-filter-3">
              <option value="all">All</option>
              <option value="Offensive">Offensive</option>
              <option value="Defensive">Defensive</option>
              <option value="Resistance">Resistance</option>
              <option value="Farming">Farming</option>
              <option value="Treasure Hunting">Treasure Hunting</option>
              <option value="Class">Class</option>
              <option value="Other">Other</option>
            </select>
          </td>
          <td>
            <select class="skill-filter" id="skill-filter-4">
              <option value="all">All</option>
              <option value="Offensive">Offensive</option>
              <option value="Defensive">Defensive</option>
              <option value="Resistance">Resistance</option>
              <option value="Farming">Farming</option>
              <option value="Treasure Hunting">Treasure Hunting</option>
              <option value="Class">Class</option>
              <option value="Other">Other</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tr>
        <td>Allow bad skills</td>
        <td>Allow piercings</td>
        <td>Allow torso inc</td>
        <td>Allow dummy</td>
        <td><button id="punchit">Search</button></td>
      </tr>
      <tr>
        <td><input type="checkbox" id="badskills" checked/></td>
        <td><input type="checkbox" id="piercings" checked/></td>
        <td><input type="checkbox" id="torsoinc" title="Partially implemented, Torso Inc will work on the chest piece, but is not considered for jewels"/></td>
        <td><input type="checkbox" id="dummy" disabled title="Not implemented"/></td>
        <td><progress max="100" value="0"></progress><span id="count"></span></td>
      </tr>
    </table>
    <div id="set-wrapper">
      <table id="sets" class="sortable">
        <thead>
          <tr>
            <th class="sort">
              <img src="{% static 'img/def.png' %}" title="Defence">
              <i id="def" data-key="def" class="fa fa-sort"/>
            </th>
            <th class="sort">
              <img src="{% static 'img/fire.png' %}" title="Fire resistance">
              <i id="fire" data-key="res.Fire" class="fa fa-sort"/>
            </th>
            <th class="sort">
              <img src="{% static 'img/thunder.png' %}" title="Thunder resistance">
              <i id="thunder" data-key="res.Thunder" class="fa fa-sort"/>
            </th>
            <th class="sort">
              <img src="{% static 'img/water.png' %}" title="Water resistance">
              <i id="water" data-key="res.Water" class="fa fa-sort"/>
            </th>
            <th class="sort">
              <img src="{% static 'img/ice.png' %}" title="Ice resistance">
              <i id="ice" data-key="res.Ice" class="fa fa-sort"/>
            </th>
            <th class="sort">
              <img src="{% static 'img/dragon.png' %}" title="Dragon resistance">
              <i id="dragon" data-key="res.Dragon" class="fa fa-sort"/>
            </th>
            <th>
              <img src="{% static 'img/head.png' %}" title="Head">
            </th>
            <th>
              <img src="{% static 'img/chest.png' %}" title="Chest">
            </th>
            <th>
              <img src="{% static 'img/arms.png' %}" title="Arms">
            </th>
            <th>
              <img src="{% static 'img/waist.png' %}" title="Waist">
            </th>
            <th>
              <img src="{% static 'img/legs.png' %}" title="Legs">
            </th>
            <th>Jewels</th>
            <th>Slots</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% comment %}
  <div class="content">
  </div>
  <div class="search-panel">
    <div class="hunter">
    </div>
    <div class="weapon">
    </div>
    <div class="skills-selected">
    </div>
    <div class="skills-pool">
    </div>
    <div class="button-container">
      <button>Search</button>
    </div>
  </div>

  <div class="options-panel minimised">
    <div class="options-panel-toggle">
      <p class="fa fa-chevron-left"></p>
    </div>
    <div class="notification-container">
    </div>
  </div>
{% endcomment %}
{% endblock %}
